<!DOCTYPE html>
<html>
  <head>
    <title> CAM2 test app </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/main.js' %}"></script>
  </head>
  <body>

    <div style="font-size:25px; padding:10px;">TIME</div><hr>
    <div id="clock" style="font-size:120px; text-align:center;"></div>
    <div style="font-size:25px; padding:10px;">Map with Marker</div><hr>
    <div id="map" style="width:100%;height:400px;"></div>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-FF4a98ooby2aUwOB4rahpNxyYeEBNU8&callback=initMap" type="text/javascript"></script>

  </body>
</html>
